<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    <style>
        body {
            padding: 15px;
        }
    </style>

</head>
<body>
    <header>
        <h1>Admin Page</h1>
    </header>
    <hr />
    <div class="container">
        @RenderBody()
    </div>
    <hr />
    <footer>
        Coppyright &copy;2018.
    </footer>
</body>
</html>
